.blue-on-hover:hover {
    color: slategray;
}

#active-signature-box {
    border-color: #cccccc;
    border-radius: 10px;
    border-style: solid;
}

#checkbox-container {
    font-size: 100px;
    position: relative;
    left: 89%;
}

#round-checkbox {
    padding-right: 0.3em;
    padding-left: 0.3em;
    color: #ffffff;
}

.custom-tile-button {
    height: 200px;
    width: 200px;
}

#adult-status-button-content{
    padding-top: 23px;
}

#child-status-button-content{
    padding-top: 64px;
}

#responsive-spacing{
    display: inline-block;
    width: 10%;
}