body {
    background-color: #eeeeee;
    padding-top: 3rem; /* modified from starter template */
}

.blue-on-hover:hover {
    color: slategray;
}

#active-signature-box {
    border-color: #cccccc;
    border-radius: 10px;
    border-style: solid;
}

.button-container {
    font-size: 100px;
    position: relative;
    height: 117px;
}

#round-checkbox {
    padding-right: 0.3em;
    padding-left: 0.3em;
    color: #ffffff;
    float: right;
}

#round-x-button {
    padding-right: 0.4em;
    padding-left: 0.4em;
    color: #ffffff;
}

.custom-tile-button {
    width: 35vw;
	height: 35vw;
}

.custom-horizontal-button {
    height: 5vw;
    width: 20vw;
}

#adult-status-button-content{
    position: relative;
	top: 6vw
}

#adult-status-button-content p{
    position: relative;
	top: 6vw
}

#child-status-button-content{
    position: relative;
	top: 14vw
}

#child-status-button-content p{
    position: relative;
	top: 6vw
}

#main-menu-button-content {
    position: relative;
    top: 0.5vw
}

#main-menu-button-content p{
    position: relative;
	top: 0vw
}

#responsive-spacing{
    display: inline-block;
    width: 10%;
}

.ul-centered {
    margin-left: auto;
}

.vertical-button:active {
    background-color: #00FFFF;
}

.fa-male, .fa-child{
	color: #00a9ff;
}

.fa-female{
	color: #ff99cc;
}

.fa-5x{
	font-size: 17vw;
}

.fa-3x{
	font-size: 9vw;
}

#x-button { /* If this is not here, the eraser button is below where it should be, as if it has a top-margin (but it doesn't) */
    display: inherit;
}

.signature-pad--footer {
    line-height: 1;
}

.starter-template ul{
    list-style-type: none;
    padding-left: 0vw;
}

.starter-template li{
    margin-bottom: 10px;
}


table{
	border: 2px solid black;
	border-collapse: collapse;
	vertical-align: middle;
	text-align: center;
	width:100%;
}

th{
	height: 35px;
}

th, td{
	border: 2px solid black;
	border-collapse: collapse;
	vertical-align: middle;
	text-align: center;
	padding: 15px;
}

td:nth-child(even){
	background-color: #ddccff;
}

#wrapper{
    margin: 0 50px;
}